# build output
dist/
.vercel/

# test coverage
coverage/

# generated types
.astro/

# dependencies
node_modules/

# this project is pnpm-only
package-lock.json
yarn.lock
bun.lockb

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# pagefind
public/pagefind

# pnpm
.pnpm-store

# docker compose
compose.override.yaml
